
*.user
*.vcxproj
*.sln
*.rc
*.pdb
*.dll
*.filters
*.db-wal
*.db-shm
*.exe
*.ipch
*.db
*.opendb
*.vsidx
*.lib
*.exp
*.bin
*.so
*/obj/*
*/.vscode/*
*.code-workspace
*.qbs
*/bin/*
!*/bin/data
SlimeMoldPhysarum-main/*
example-SimpleRandom/*
example-StrangeAttractor/*
example-ofxAutoReloadedShader/*
example-ofxAutoReloadedShaderGeom/*
gpuParticlesexample/*
particle_life/*
wallProjection/.zed/*

